body{
    background: black;
    color: white;
    font-family: Arial;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    overflow: hidden;
}

.box{
    text-align: center;
}

button{
    background: #ff4081;
    color: white;
    padding:15px 30px;
    border: none;
    border-radius: 30px;
    font-size:20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background: #ff0066;
    transform: scale(1.1);
    box-shadow: 0 0 30px
hotpink;
}

#no {
    position: fixed;
    margin-top: 120px;
    padding: 15px 30px;
    background: #666;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    left: 55%;
    top: 60%;
}
#no{
    position: absolute;
}#no{
    position: fixed;
    z-index: 9999;
    touch-action: none;
}